body{
   background-color: #553555;
   margin: auto;
   padding: auto;
}
header{
    background-color: black;
    padding: 20px;    
}
ul{
    color: white;
    position: relative;
    right: -950px;
    margin: auto;
    padding: auto;

}
li{
    display: inline;
    padding: 20px;
    font-size: 18px;
    position: relative;
    right: -600px;
}
#main h1{
    font-size: 40px;
    color:white;
    position: relative;
    right: -576px;
    top: -256px;
}
#main{
    background-color: #242038;
    padding: 250px;
    position: relative;
    top: 0px;
    border-top: 15px solid #F5E3E0;
    border-bottom: 5px  solid #F5E3E0;

}
#main p{
    font-size: 18px;
    color: white;
    position: relative;
    top: 190px;
    right: -470px;
}
#outside-box {
    width: 350px;
    height: 350px;
    text-align: center;
    border: 10px solid #96C5B0;
    background-color: #755B69;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    left: 760px;
    top: 95px;

  }
  #inside-box {
    width: 250px;
    height: 250px;
    text-align: center;
    border: 10px solid #242038;
    background-color:755B69;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    left: 41px;
    top: 41px;

  }
  
  #coming-soon {
    width: 150px;
    height: 150px;
    text-align: center;
    border: 10px solid #E8B4BC;
    background-color:755B69;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    left: 40px;
    top: 40px;

  }
  #coming-soon h3{
    font-size: 25px;
    color: white;
  }
  
  footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  footer h4{
    color: white;
    font-size: 15px;
    position: relative;
    right: -880px;

  }
  #contact-form {
    width: 480px;
    height: 180px;
    border: 5px solid #E8B4BC;
    border-radius: 15px;
    position: absolute;
    bottom: 180px;
    right: 2px;
    left: 715px;
  }
  #contact-form h1{
    color: white;
    font-size: 40px;
    position: relative;
    right: -137px;
    bottom: 119px;
  }

  #contact-form form{
    color: white;
    font-size: 16px;
    position: absolute;
    left: 30px;
    bottom: 30px;

    
  }
  #contact-form input{
    width: 350px;
    padding: 4px;
    margin-top: 15px;
    border: 2px solid#E8B4BC;
    background-color: #553555;
    font-size: 16px;
    color: white;
   
  }

  #contact-form button{
    background-color: #E8B4BC;
    color: black;
    border: solid color #E8B4BC;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 150px;
    height: 45px;
    border-radius: 12px;
    margin-top: 5px;
    position: relative;
    left: 142px;
    bottom: -6px;
  }

 

